# See https://help.github.com/ignore-files/ for more about ignoring files.
#scripts
start_flask.sh

#experimental
api/experimental

# dependencies
web/node_modules

# testing
coverage

# production
web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
api/.vscode
/.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web/package-lock.json
.vscode
vue-web/.env
vue-web/yarn.lock