.OverflowingText {
  max-width: 70vh;
  padding-top: .75rem;
  margin: 0rem;
  height: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .75rem;
  min-width: 40vh;
}

.ArticleTitle {
  min-width: fit-content; 
  width: 60vh;
}

.CardFooterButton {
  cursor: pointer;
}

.ArticleCardContainer {
  margin-bottom: 1.5rem;
}

.Content {
  text-align: initial;
}

/* for saved button class */
.Confirmed {
  background-color:rgba(99, 180, 209, 0.5);
}

/* view and summarize button classes */
.Unavailable {
  opacity: 40%;
  cursor: default;
}

.unavailable:hover {
  opacity: 40%;
  cursor: default;
  background-color:rgb(255, 255, 255)!important;
}

.CardFooterButton:hover {
  background-color:rgba(121, 87, 213, 0.5);
}

/* save button class */
.LoadingSpinner {
  animation:  1.5s linear infinite rotate;
}