// @use "../../App.sass";

.NavBar {
  display: flex!important;
  flex-direction: row;
  justify-content: center!important;
  margin-right: 0px!important;
  width: 100%;
}

.button:hover {
  color: #63B4D1!important;
}

.navbar-menu {
  display: flex!important;
}