.App {
  text-align: center;
}

.summary_hidden {
  display: none;
}

.briefingTableHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.briefingTableButton {
  margin-bottom: 1rem;
}

.header {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.briefing-source-card {
  background-color: #ACADBC;
}
