@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$honeydew: #7957D5;
$columbia-blue: #757763;
$slate-blue: #7957D5;
$iceberg: #63B4D1;
$ghost-white: #F7F7FF;
$white: #FFFFFF


// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$blue-dark: $iceberg;
$blue-light: $columbia-blue;
$primary: $white;
$secondary: $ghost-white
$link: $slate-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $ghost-white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';