[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "*"
lxml = "*"
flask = "*"
html5lib = "*"
yagmail = "*"
flask-cors = "*"
uwsgi = "*"
pattern = "*"
google-cloud-firestore = "*"
nltk = "*"
sklearn = "*"
psycopg2 = "*"
pandas = "*"

[requires]
python_version = "3.7"
