.floating-menu {
  font-family: sans-serif;
  padding: 5px;
  z-index: 100;
  position: fixed;
  right: 0;
  top: 3.1rem;
  background-color: #ACADBC;
}

.floating-menu__icon {
  cursor: pointer;
  right: 0;
  position: fixed;
}

.floating-menu_content {
  padding-top: 1rem;
}

.hidden {
  display: none;
  height: 0px;
  width: 0px;
}